---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
import Footer from '../components/Footer.astro';
import fridge from '/uploads/fridge.jpg'
if(!Astro.cookies.has('uid')){
	var link ='/checkout'
}else{
	const uid=Astro.cookies.get('uid')
	var link='/virtualproducts'
}
---

<Layout title="Welcome to Astro.">
	<main>

		<h1><span class="text-gradient">QuickSela</span></h1>
		<a href="/">Home</a>
		<a href="/products">Products</a>
		<h1>Portal for Resellers!</h1>
		<h2><br>Post an item for sale and it will be added on our page!</h2>
		<section id="section">
			<div id="title"class="text-center"><p>Dine In Style | Home Essentials</p></div>
			<div class=content>
				<div class="cardholder">
					<a href={link}>
						<img src={fridge.src} alt="Product Image" />
						<p>desc</p>
					</a>
					</div>
				<div class="cardholder">
				<a href={link}>
					<img src={fridge.src} alt="Product Image" />
					<p>desc</p>
				</a>
				</div>
				<div class="cardholder">
					<a href={link}>
						<img src={fridge.src} alt="Product Image" />
						<p>desc</p>
					</a>
					</div>
					<div class="cardholder">
						<a href={link}>
							<img src={fridge.src} alt="Product Image" />
							<p>desc</p>
						</a>
						</div>
			</div>
		</section>
		<section id="section">
			<div id="title"class="text-center"><p>Dine In Style | Home Essentials</p></div>
			<div class=content>
				<div class="cardholder">
				<a href={link}>
					<img src={fridge.src} alt="Product Image" />
					<p>desc</p>
				</a>
				</div>
				<div class="cardholder">
				<a href={link}>
					<img src={fridge.src} alt="Product Image" />
					<p>desc</p>
				</a>
				</div>
				<div class="cardholder">
					<a href={link}>
						<img src={fridge.src} alt="Product Image" />
						<p>desc</p>
					</a>
					</div>
				<div class="cardholder">
					<a href={link}>
						<img src={fridge.src} alt="Product Image" />
						<p>desc</p>
					</a>
					</div>
			</div>
		</section>
		<Footer/>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
	}
	
	h1 {
		font-size: 4rem;
		font-weight: 700;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	</style>
